@model IEnumerable<RecipeDto>

@{
    ViewData["Title"] = "Recipes";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    // Read role from session
    var userRole = Context.Session.GetString("UserRole") ?? "User";
}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Recipes</h2>

    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" asp-controller="RecipeUi" class="btn btn-success">+ Add Recipe</a>
    }
</div>

@if (Model == null || !Model.Any())
{
    <p>@ViewBag.Message ?? "No recipes available."</p>
}
else
{
    <div class="recipe-grid">
        @foreach (var recipe in Model)
        {
            <div class="recipe-card">
                @if (!string.IsNullOrEmpty(recipe.ImageUrl))
                {
                    <img src="@recipe.ImageUrl" class="card-img-top" alt="@recipe.Name" />
                }
                else
                {
                    <img src="/images/default-recipe.png" class="card-img-top" alt="No Image" />
                }

                <div class="card-body mt-1">
                    <h5 class="card-title">@recipe.Name</h5>
                    <p class="card-text">@recipe.Description</p>
                    <p class="recipe-meta">
                        Cuisine: @recipe.Cusine | Meal Type: @recipe.MealType
                    </p>
                    <p class="recipe-meta">
                        Estimated Cooking Time: @recipe.AstimatedCookingTime.ToString("hh\\:mm") mins
                    </p>
                <div>
                </div>
                <hr/>
                    <a href="@Url.Action("Details", "RecipeUi", new { id = recipe.Id })" class="btn btn-primary btn-sm m-2">Read More</a>
                </div>
            </div>
        }
    </div>
}
